<section class="about">
	<h2>ABOUT</h2>
	<h6>Scroll down. Know more about me</h6>

	<object class="seta" type="image/svg+xml" data="assets/seta.svg"></object>

	<p>
		Hi, I’m João Marcos lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent gravida accumsan sapien, ut ullamcorper diam egestas vel. Etiam cursus ultricies velit eget vestibulum. Suspendisse volutpat nulla metus, sit amet malesuada lacus rutrum non.
	</p>

	<div class="block-img"></div>

	<p>Any question? Talk to me</p>

	<div class="btn-contact">
		<div class="text">contact</div>
		<div class="bar"></div>
	</div>

	<div class="block-white"></div>
</section>