<section class="homePage">

	<div class="developer">

		<div class="box-description">

			<h2>FRONT E BACK</h2>

			<div class="btn-show" (mouseenter)="activeFrontBack()" (mouseleave)="inativeFrontBack()">
				<div class="text">see more</div>
				<div class="bar"></div>
			</div>

		</div>

		<div class="mask"></div>
		
		<div class="box-code">
			<div class="line-code b-1">
				<span>)</span>
				<span>.</span>
				<span>val</span>
			</div>
			<div class="line-code b-2">
				<span>r</span>
				<span>e</span>
				<span>g</span>
				<span>i</span>
				<span>o</span>
				<span>n</span>
				<span>)</span>
			</div>
			<div class="line-code b-3">
				<span>(</span>
				<span>a</span>
				<span>.</span>
				<span>d</span>
				<span>a</span>
				<span>t</span>
				<span>a</span>
				<span>.</span>
				<span>b</span>
				<span>i</span>
				<span>r</span>
				<span>t</span>
				<span>h</span>
				<span>_</span>
			</div>
			<div class="line-code b-4">
				<span>"</span>
				<span>W</span>
				<span>a</span>
				<span>g</span>
				<span>a</span>
				<span>"</span>
				<span>)</span>
				<span>)</span>
				<span>,</span>
				<span>$</span>
				<span>(</span>
				<span>"</span>
				<span>#</span>
				<span>c</span>
				<span>h</span>
				<span>e</span>
				<span>s</span>
				<span>t</span>
				<span>"</span>
				<span>)</span>
			</div>
			<div class="line-code b-5">
				<span>.</span>
				<span>v</span>
				<span>a</span>
				<span>l</span>
				<span>(</span>
				<span>o</span>
				<span>(</span>
				<span>a</span>
				<span>.</span>
				<span>d</span>
				<span>a</span>
				<span>t</span>
				<span>a</span>
				<span>.</span>
				<span>a</span>
				<span>b</span>
				<span>o</span>
				<span>u</span>
				<span>t</span>
			</div>
			<div class="line-code b-6">
				<span>v</span>
				<span>a</span>
				<span>l</span>
				<span>(</span>
				<span>o</span>
				<span>(</span>
				<span>a</span>
				<span>.</span>
				<span>d</span>
				<span>a</span>
				<span>t</span>
				<span>a</span>
				<span>.</span>
				<span>a</span>
				<span>b</span>
				<span>o</span>
				<span>u</span>
				<span>t</span>
			</div>
			<div class="line-code b-7">
				<span>v</span>
				<span>a</span>
				<span>l</span>
				<span>(</span>
				<span>o</span>
				<span>(</span>
				<span>a</span>
				<span>.</span>
				<span>d</span>
				<span>a</span>
				<span>t</span>
				<span>a</span>
				<span>.</span>
				<span>a</span>
				<span>b</span>
				<span>o</span>
				<span>u</span>
				<span>t</span>
				<span>.</span>
				<span>d</span>
				<span>e</span>
				<span>t</span>
				<span>a</span>
				<span>i</span>
				<span>l</span>
				<span>t</span>
				<span>a</span>
				<span>b</span>
			</div>
			<div class="line-code b-8">
				<span>l</span>
				<span>a</span>
				<span>r</span>
				<span>a</span>
				<span>t</span>
				<span>i</span>
				<span>o</span>
				<span>n</span>
				<span>s</span>
				<span>:</span>
				<span>[</span>
				<span><i>f</i></span>
				<span><i>u</i></span>
				<span><i>n</i></span>
				<span><i>c</i></span>
				<span><i>t</i></span>
				<span><i>i</i></span>
				<span><i>o</i></span>
				<span><i>n</i></span>
				<span>(</span>
				<span><i>t</i></span>
				<span>)</span>
				<span>{{ elemente_left }}</span>
				<span>$</span>
				<span>(</span>
			</div>
			<div class="line-code b-9">
				<span>i</span>
				<span>c</span>
				<span>k</span>
				<span>.</span>
				<span>"</span>
				<span>+</span>
				<span>t</span>
				<span>,</span>
				<span>"</span>
				<span>.</span>
				<span>n</span>
				<span>t</span>
				<span>f</span>
				<span>_</span>
				<span>u</span>
				<span>n</span>
				<span>r</span>
				<span>e</span>
				<span>a</span>
				<span>d</span>
				<span>"</span>
				<span>,</span>
			</div>
			<div class="line-code b-10">
				<span>:</span>
				<span><i>f</i></span>
				<span><i>u</i></span>
				<span><i>n</i></span>
				<span><i>c</i></span>
				<span><i>t</i></span>
				<span><i>i</i></span>
				<span><i>o</i></span>
				<span><i>n</i></span>
				<span>(</span>
				<span>)</span>
				<span>{{ elemente_left }}</span>
				<span>{{ elemente_rigth }}</span>
				<span>,</span>
				<span>e</span>
				<span>r</span>
				<span>r</span>
				<span>o</span>
				<span>r</span>
				<span>:</span>
				<span><i>f</i></span>
				<span><i>u</i></span>
				<span><i>n</i></span>
				<span><i>c</i></span>
				<span><i>t</i></span>
				<span><i>i</i></span>
				<span><i>o</i></span>
				<span><i>n</i></span>
				<span>(</span>
				<span>)</span>
			</div>
			<div class="line-code b-11">
				<span>_</span>
				<span>s</span>
				<span>e</span>
				<span>t</span>
				<span>t</span>
				<span>i</span>
				<span>n</span>
				<span>g</span>
				<span>s</span>
				<span>,</span>
				<span>n</span>
				<span>e</span>
				<span>w</span>
				<span>_</span>
				<span>l</span>
				<span>a</span>
				<span>y</span>
				<span>e</span>
				<span>r</span>
				<span>:</span>
				<span>!</span>
				<span>0</span>
				<span>,</span>
			</div>
			<div class="line-code b-12">
				<span>(</span>
				<span>)</span>
				<span>{{ elemente_left }}</span>
				<span>v</span>
				<span>a</span>
				<span>r</span>
				<span></span>
				<span>o</span>
				<span>=</span>
				<span>$</span>
				<span>(</span>
				<span><i>t</i></span>
				<span><i>h</i></span>
				<span><i>i</i></span>
				<span><i>s</i></span>
				<span>)</span>
				<span>,</span>
			</div>
			<div class="line-code b-13">
				<span>t</span>
				<span>o</span>
				<span>p</span>
				<span>(</span>
				<span>)</span>
				<span>,</span>
				<span>$</span>
				<span>.</span>
				<span>c</span>
				<span>o</span>
				<span>n</span>
				<span>f</span>
				<span>i</span>
				<span>r</span>
				<span>m</span>
				<span>(</span>
				<span>{{ elemente_left }}</span>
				<span>t</span>
				<span>i</span>
				<span>t</span>
				<span>l</span>
				<span>e</span>
				<span>:</span>
			</div>
			<div class="line-code b-14">
				<span>t</span>
				<span>y</span>
				<span>p</span>
				<span>e</span>
				<span>:</span>
				<span>"</span>
				<span>g</span>
				<span>r</span>
				<span>e</span>
				<span>e</span>
				<span>n</span>
				<span>"</span>
				<span>,</span>
				<span>t</span>
				<span>h</span>
				<span>e</span>
				<span>m</span>
				<span>o</span>
				<span>:</span>
				<span>"</span>
				<span>m</span>
				<span>o</span>
				<span>d</span>
				<span>e</span>
				<span>r</span>
				<span>n</span>
			</div>
			<div class="line-code b-15">
				<span>(</span>
				<span>)</span>
				<span>{{ elemente_left }}</span>
				<span>s</span>
				<span>c</span>
				<span>r</span>
				<span>o</span>
				<span>l</span>
				<span>l</span>
				<span>_</span>
				<span>t</span>
				<span>o</span>
				<span>p</span>
				<span>(</span>
				<span>)</span>
				<span>,</span>
				<span>$</span>
				<span>.</span>
				<span>c</span>
				<span>o</span>
				<span>n</span>
				<span>f</span>
				<span>i</span>
				<span>r</span>
				<span>m</span>
			</div>
			<div class="line-code b-16">
				<span>z</span>
				<span>a</span>
				<span>p</span>
				<span>i</span>
				<span>s</span>
				<span>y</span>
				<span>a</span>
				<span>n</span>
				<span>i</span>
				<span>a</span>
				<span>"</span>
				<span>,</span>
				<span>c</span>
				<span>o</span>
				<span>n</span>
				<span>t</span>
				<span>e</span>
				<span>n</span>
				<span>t</span>
			</div>
			<div class="line-code b-17">
				<span>C</span>
				<span>l</span>
				<span>a</span>
				<span>s</span>
				<span>s</span>
				<span>:</span>
				<span>"</span>
				<span>b</span>
				<span>t</span>
				<span>n</span>
				<span>-</span>
				<span>d</span>
				<span>e</span>
				<span>f</span>
				<span>a</span>
				<span>u</span>
				<span>l</span>
				<span>t</span>
				<span>"</span>
				<span>,</span>
				<span>a</span>
				<span>c</span>
				<span>t</span>
				<span>i</span>
				<span>o</span>
				<span>n</span>
			</div>
			<div class="line-code b-18">
				<span>c</span>
				<span>o</span>
				<span>n</span>
				<span>f</span>
				<span>i</span>
				<span>c</span>
				<span>o</span>
				<span>-</span>
				<span>o</span>
				<span>r</span>
				<span>a</span>
				<span>n</span>
				<span>g</span>
				<span>e</span>
				<span>\</span>
				<span>"</span>
				<span>></span>
			</div>
			<div class="line-code b-19">
				<span>z</span>
				<span></span>
				<span>I</span>
				<span>n</span>
				<span>t</span>
				<span>e</span>
				<span>r</span>
				<span>n</span>
				<span>e</span>
				<span>t</span>
				<span>e</span>
				<span>m</span>
				<span>.</span>
				<span>"</span>
				<span>,</span>
				<span>t</span>
				<span>y</span>
				<span>p</span>
				<span>e</span>
				<span>"</span>
			</div>
			<div class="line-code b-20">
				<span>"</span>
				<span>b</span>
				<span>t</span>
				<span>n</span>
				<span>-</span>
				<span>d</span>
				<span>e</span>
				<span>f</span>
				<span>a</span>
				<span>u</span>
				<span>l</span>
				<span>t</span>
				<span>"</span>
				<span>,</span>
				<span>a</span>
				<span>c</span>
				<span>t</span>
				<span>i</span>
				<span>o</span>
				<span>n</span>
				<span>:</span>
			</div>
			<div class="line-code b-21">
				<span>c</span>
				<span>l</span>
				<span>i</span>
				<span>c</span>
				<span>k</span>
				<span>(</span>
				<span>)</span>
				<span>{{ elemente_rigth }}</span>
				<span>{{ elemente_rigth }}</span>
				<span>{{ elemente_rigth }}</span>
				<span>{{ elemente_rigth }}</span>
				<span>)</span>
				<span>{{ elemente_rigth }}</span>
				<span>{{ elemente_rigth }}</span>
				<span>)</span>
				<span>{{ elemente_rigth }}</span>
				<span>)</span>
				<span>{{ elemente_rigth }}</span>
				<span>]</span>
				<span>,</span>
				<span>a</span>
				<span>f</span>
				<span>t</span>
				<span>e</span>
				<span>r</span>
				<span>:</span>
			</div>
			<div class="line-code b-22">
				<span>.</span>
				<span>p</span>
				<span>r</span>
				<span>o</span>
				<span>p</span>
				<span>(</span>
				<span>"</span>
				<span>c</span>
				<span>h</span>
				<span>e</span>
				<span>c</span>
				<span>k</span>
				<span>e</span>
				<span>d</span>
				<span>"</span>
				<span>)</span>
				<span>&</span>
				<span>&</span>
				<span>(</span>
				<span>o</span>
				<span>=</span>
				<span>!</span>
				<span>1</span>
				<span>)</span>
				<span>{{ elemente_rigth }}</span>
				<span>)</span>
			</div>
			<div class="line-code b-23">
				<span>"</span>
				<span>c</span>
				<span>h</span>
				<span>a</span>
				<span>n</span>
				<span>g</span>
				<span>e</span>
				<span>.</span>
				<span>+</span>
				<span>t</span>
				<span>,</span>
				<span>"</span>
				<span>.</span>
				<span>c</span>
				<span>h</span>
				<span>e</span>
				<span>c</span>
				<span>k</span>
				<span>b</span>
				<span>o</span>
			</div>
			<div class="line-code b-24">
				<span>\</span>
				<span>"</span>
				<span>]</span>
				<span>"</span>
				<span>)</span>
				<span>.</span>
				<span>e</span>
				<span>a</span>
				<span>c</span>
				<span>h</span>
				<span>(</span>
				<span><i>f</i></span>
				<span><i>u</i></span>
				<span><i>n</i></span>
				<span><i>c</i></span>
				<span><i>t</i></span>
				<span><i>i</i></span>
				<span><i>o</i></span>
				<span><i>n</i></span>
				<span>(</span>
				<span>)</span>
				<span>{{ elemente_left }}</span>
				<span>$</span>
			</div>
			<div class="line-code b-25">
				<span>{{ elemente_left }}</span>
				<span>v</span>
				<span>a</span>
				<span>r</span>
				<span> </span>
				<span>s</span>
				<span>=</span>
				<span>!</span>
				<span>0</span>
				<span>;</span>
				<span>$</span>
				<span>(</span>
				<span>"</span>
				<span>.</span>
				<span>n</span>
				<span>e</span>
				<span>s</span>
				<span>-</span>
				<span>f</span>
				<span>o</span>
				<span>r</span>
				<span>m</span>
			</div>
			<div class="line-code b-26">
				<span>h</span>
				<span>e</span>
				<span>a</span>
				<span>c</span>
				<span>k</span>
				<span>b</span>
				<span>o</span>
				<span>x</span>
				<span>-</span>
				<span>m</span>
				<span>a</span>
				<span>s</span>
				<span>t</span>
				<span>e</span>
				<span>r</span>
				<span>"</span>
				<span>)</span>
				<span>.</span>
				<span>p</span>
				<span>r</span>
				<span>o</span>
				<span>p</span>
				<span>(</span>
				<span>"</span>
				<span>c</span>
				<span>h</span>
				<span>e</span>
				<span>c</span>
				<span>k</span>
				<span>e</span>
				<span>d</span>
				<span>"</span>
				<span>,</span>
				<span>!</span>
			</div>
			<div class="line-code b-27">
				<span>:</span>
				<span>m</span>
				<span>y</span>
				<span>_</span>
				<span>p</span>
				<span>h</span>
				<span>o</span>
				<span>t</span>
				<span>o</span>
				<span>s</span>
				<span>,</span>
				<span>n</span>
				<span>e</span>
				<span>w</span>
				<span>_</span>
				<span>l</span>
				<span>a</span>
				<span>y</span>
				<span>e</span>
				<span>r</span>
				<span>:</span>
				<span>!</span>
				<span>0</span>
				<span>,</span>
			</div>
			<div class="line-code b-28">
				<span>n</span>
				<span>a</span>
				<span>m</span>
				<span>e</span>
				<span>:</span>
				<span>"</span>
				<span>d</span>
				<span>e</span>
				<span>l</span>
				<span>e</span>
				<span>t</span>
				<span>e</span>
				<span>_</span>
				<span>p</span>
				<span>h</span>
				<span>o</span>
				<span>t</span>
				<span>o</span>
				<span>"</span>
				<span>,</span>
				<span> </span>
				<span>t</span>
				<span>r</span>
				<span>i</span>
				<span>g</span>
				<span>g</span>
				<span>e</span>
				<span>r</span>
				<span>:</span>
				<span>"</span>
			</div>
			<div class="line-code b-29">
				<span>!</span>
				<span>0</span>
				<span>,</span>
				<span>a</span>
				<span>f</span>
				<span>t</span>
				<span>e</span>
				<span>r</span>
				<span>:</span>
				<span><i>f</i></span>
				<span><i>u</i></span>
				<span><i>n</i></span>
				<span><i>c</i></span>
				<span><i>t</i></span>
				<span><i>i</i></span>
				<span><i>o</i></span>
				<span><i>n</i></span>
				<span>(</span>
				<span><i>t</i></span>
				<span>)</span>
				<span>{{ elemente_left }}</span>
				<span>$</span>
				<span>(</span>
				<span><i>d</i></span>
				<span><i>o</i></span>
				<span><i>c</i></span>
				<span><i>u</i></span>
				<span><i>m</i></span>
				<span><i>e</i></span>
				<span><i>n</i></span>
				<span><i>t</i></span>
				<span>)</span>
				<span>.</span>
				<span>o</span>
				<span>n</span>
			</div>
			<div class="line-code b-30">
				<span>i</span>
				<span>z</span>
				<span>e</span>
				<span>O</span>
				<span>b</span>
				<span>j</span>
				<span>e</span>
				<span>c</span>
				<span>t</span>
				<span>(</span>
				<span>)</span>
				<span>;</span>
				<span>m</span>
				<span>s</span>
				<span>g</span>
				<span>_</span>
				<span>a</span>
				<span>p</span>
				<span>i</span>
				<span>_</span>
				<span>v</span>
				<span>2</span>
				<span>(</span>
				<span>{{ elemente_left }}</span>
				<span>c</span>
				<span>a</span>
				<span>l</span>
				<span>l</span>
				<span>:</span>
				<span>"</span>
				<span>d</span>
				<span>e</span>
				<span>l</span>
				<span>e</span>
				<span>t</span>
				<span>e</span>
				<span>_</span>
				<span>p</span>
				<span>h</span>
				<span>o</span>
				<span>t</span>
				<span>o</span>
				<span>"</span>
				<span>,</span>
				<span>d</span>
				<span>a</span>
				<span>t</span>
				<span>a</span>
				<span>:</span>
			</div>
			<div class="line-code b-31">
				<span>c</span>
				<span>o</span>
				<span>n</span>
				<span>f</span>
				<span>i</span>
				<span>c</span>
				<span>o</span>
				<span>-</span>
				<span>g</span>
				<span>r</span>
				<span>e</span>
				<span>e</span>
				<span>n</span>
				<span>\</span>
				<span>"</span>
				<span>></span>
				<span>c</span>
				<span>h</span>
				<span>e</span>
				<span>c</span>
				<span>k</span>
				<span>_</span>
				<span>c</span>
				<span>i</span>
				<span>r</span>
				<span>c</span>
				<span>l</span>
				<span>e</span>
				<span><</span>
				<span>/</span>
				<span>i</span>
				<span>></span>
				<span>Z</span>
				<span>d</span>
				<span>j</span>
				<span>\</span>
				<span>u</span>
				<span>0</span>
				<span>1</span>
				<span>1</span>
				<span>9</span>
				<span>c</span>
				<span>i</span>
				<span>e</span>
			</div>
			<div class="line-code b-32">
				<span>!</span>
				<span>0</span>
				<span>,</span>
				<span>b</span>
				<span>u</span>
				<span>t</span>
				<span>t</span>
				<span>o</span>
				<span>n</span>
				<span>s</span>
				<span>:</span>
				<span>{{ elemente_left }}</span>
				<span>O</span>
				<span>K</span>
				<span>:</span>
				<span>{{ elemente_left }}</span>
				<span>t</span>
				<span>e</span>
				<span>x</span>
				<span>t</span>
				<span>:</span>
				<span>"</span>
				<span>O</span>
				<span>K</span>
				<span>"</span>
				<span>,</span>
				<span>b</span>
				<span>t</span>
				<span>n</span>
				<span>C</span>
				<span>l</span>
				<span>a</span>
				<span>s</span>
				<span>s</span>
				<span>:</span>
				<span>b</span>
				<span>t</span>
				<span>n</span>
				<span>-</span>
				<span>g</span>
				<span>r</span>
				<span>e</span>
				<span>e</span>
				<span>n</span>
				<span>"</span>
				<span>,</span>
				<span>a</span>
				<span>c</span>
				<span>t</span>
				<span>i</span>
				<span>o</span>
				<span>n</span>
			</div>
			<div class="line-code b-33">
				<span>c</span>
				<span>k</span>
				<span>(</span>
				<span>)</span>
				<span>{{ elemente_rigth }}</span>
				<span>,</span>
				<span>e</span>
				<span>r</span>
				<span>r</span>
				<span>o</span>
				<span>r</span>
				<span>:</span>
				<span><i>f</i></span>
				<span><i>u</i></span>
				<span><i>n</i></span>
				<span><i>c</i></span>
				<span><i>t</i></span>
				<span><i>i</i></span>
				<span><i>o</i></span>
				<span><i>n</i></span>
				<span>(</span>
				<span>)</span>
				<span>{{ elemente_left }}</span>
				<span>$</span>
				<span>.</span>
				<span>c</span>
				<span>o</span>
				<span>n</span>
				<span>f</span>
				<span>i</span>
				<span>r</span>
				<span>m</span>
				<span>(</span>
				<span>{{ elemente_left }}</span>
				<span>t</span>
				<span>i</span>
				<span>t</span>
				<span>l</span>
				<span>e</span>
				<span>:</span>
				<span>"</span>
				<span><</span>
				<span>i</span>
				<span>c</span>
				<span>l</span>
				<span>a</span>
				<span>s</span>
				<span>s</span>
				<span>=</span>
				<span>\</span>
			</div>
			<div class="line-code b-34">
				<span>0</span>
				<span>1</span>
				<span>0</span>
				<span>5</span>
				<span>d</span>
				<span> </span>
				<span>p</span>
				<span>o</span>
				<span>d</span>
				<span>c</span>
				<span>z</span>
				<span>a</span>
				<span>s</span>
				<span> </span>
				<span>u</span>
				<span>s</span>
				<span>u</span>
				<span>w</span>
				<span>a</span>
				<span>n</span>
				<span>i</span>
				<span>a</span>
				<span>"</span>
				<span>,</span>
				<span>c</span>
				<span>o</span>
				<span>n</span>
				<span>t</span>
				<span>e</span>
				<span>n</span>
				<span>t</span>
				<span>:</span>
				<span>"</span>
				<span>P</span>
				<span>r</span>
				<span>o</span>
				<span>s</span>
				<span>i</span>
				<span>m</span>
				<span>y</span>
				<span> </span>
				<span>s</span>
				<span>p</span>
				<span>r</span>
				<span>\</span>
				<span>x</span>
				<span>F</span>
				<span>3</span>
				<span>b</span>
				<span>o</span>
				<span>w</span>
				<span>a</span>
				<span>\</span>
				<span>u</span>
				<span>0</span>
				<span>1</span>
				<span>0</span>
				<span>7</span>
			</div>
			<div class="line-code b-35">
				<span>{{ elemente_left }}</span>
				<span>O</span>
				<span>K</span>
				<span>:</span>
				<span>{{ elemente_left }}</span>
				<span>t</span>
				<span>e</span>
				<span>x</span>
				<span>t</span>
				<span>:</span>
				<span>"</span>
				<span>O</span>
				<span>K</span>
				<span>"</span>
				<span>,</span>
				<span>b</span>
				<span>t</span>
				<span>n</span>
				<span>C</span>
				<span>l</span>
				<span>a</span>
				<span>s</span>
				<span>s</span>
				<span>:</span>
				<span>"</span>
				<span>b</span>
				<span>t</span>
				<span>n</span>
				<span>-</span>
				<span>d</span>
				<span>e</span>
				<span>f</span>
				<span>a</span>
				<span>u</span>
				<span>l</span>
				<span>t</span>
				<span>"</span>
				<span>,</span>
				<span>a</span>
				<span>c</span>
				<span>t</span>
				<span>i</span>
				<span>o</span>
				<span>n</span>
				<span>:</span>
				<span><i>f</i></span>
				<span><i>u</i></span>
				<span><i>n</i></span>
				<span><i>c</i></span>
				<span><i>t</i></span>
				<span><i>i</i></span>
				<span><i>o</i></span>
				<span><i>n</i></span>
				<span>(</span>
				<span>)</span>
				<span>{{ elemente_left }}</span>
				<span>{{ elemente_rigth }}</span>
				<span>{{ elemente_rigth }}</span>
				<span>{{ elemente_rigth }})</span>
				<span>{{ elemente_rigth }}</span>
			</div>
		</div>

	</div>

	<div class="engineer">
		
		<div class="box-description">

			<h2>COMPUTER ENGINNER</h2>

			<div class="btn-show">
				see more
			</div>

		</div>

	</div>
	
</section>